{% extends 'base.html' %}
{% block content %}
	<div style="background-color: ghostwhite;"  class="card">
		<div class="card-body">
			 <ul class="nav justify-content-center m-2">
				<li class="nav-item">
					<a class="nav-link" href="/">Back To Home</a>
				</li>
			</ul>
			<br/>
			<center>
				{% if short_url %}
					<div class="alert" role="alert">
						<h4 class="alert-heading">URL Shortened Successfully!!</h4>
						<a href="http://127.0.0.1:8000/{{short_url}}" class="mb-0">http://127.0.0.1:8000/{{short_url}}</a>
					</div>
				{% endif %}
			</center>
		</div>
	</div>
	<style>
		.card-body{
			display: grid;
			align-items: center;
			justify-content: center;
			padding: 40px;
		}
	</style>
{% endblock %}